@model IEnumerable<TextField>

@{ ViewData["Title"] = "Текстові поля"; }
<section>
    <div class="container">
        <h1>Текстові поля</h1>

        <p>
            <a asp-area="Admin" asp-controller="TextField" asp-action="Edit" asp-route-id="">Створити текстове поле</a>
        </p>
        <table class="table">
            <thead>
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var entity in Model)
                {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => entity.Title)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@entity.Id">Редагувати</a> |
            <form style="display: inline-block;" id="form-@entity.Id" asp-area="Admin" asp-controller="TextField" asp-action="Delete" method="post">
                <input type="hidden" name="id" value="@entity.Id">
                <a href="#" onclick="document.getElementById('form-@entity.Id').submit();">Видалити</a>
            </form>
        </td>
    </tr>}
            </tbody>
        </table>
        </div>
</section>