@model TextField
@{ ViewBag.Title = Model.Title; }
<section class="top-products">
    <div class="container">
        <h1 class="section-heading">Контакти</h1>
        @Html.Raw(Model.Text)
    </div>
</section>
